<section style="padding-top:30px; padding-bottom:30px;">
  <!--Section heading-->
  <h1 class="text-center py-5">
    <strong>Feautured Products</strong>
  </h1>

  <p class="grey-text pb-5 text-center">
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section>

<div class="row">
  <div class="col-md-4 mx-auto my-5 text-center">
    <a
      ><img
        class="img-fluid z-depth-1 animated fadeInLeft"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal1"
    /></a>
  </div>

  <div class="col-md-4 mx-auto my-5 animated fadeInUp">
    <a
      ><img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal6"
    /></a>
  </div>

  <div class="col-md-4 mx-auto my-5 animated fadeInRight">
    <a
      ><img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal4"
    /></a>
  </div>

  <div class="col-md-4 mx-auto my-5">
    <a
      ><img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-4.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal2"
    /></a>
  </div>

  <div class="col-md-4 mx-auto my-5">
    <a
      ><img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-5.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal5"
    /></a>
  </div>

  <div class="col-md-4 mx-auto my-5">
    <a
      ><img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-6.jpg"
        alt="video"
        data-toggle="modal"
        data-target="#modal3"
    /></a>
  </div>
</div>

<hr />

<!-- Section: Blog v.1 -->
<section class="my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Our Services</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-5">
      <!-- Featured image -->
      <div
        class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light"
        mdbWavesEffect
      >
        <img
          class="img-fluid"
          src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
          alt="Sample image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">
      <!-- Category -->
      <a href="#!" class="green-text">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-utensils pr-2"></i>Food
        </h6>
      </a>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
      <!-- Excerpt -->
      <p>
        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
        impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
        assumenda est, omnis dolor repellendus et aut officiis debitis.
      </p>
      <!-- Post data -->
      <p>
        by <a><strong>Carine Fox</strong></a
        >, 19/08/2018
      </p>
      <!-- Read more button -->
      <a mdbBtn color="success" mdbWavesEffect>Read more</a>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <hr class="my-5" />

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-7">
      <!-- Category -->
      <a href="#!" class="pink-text">
        <h6 class="font-weight-bold mb-3">
          <i class="far fa-image pr-2"></i>Lifestyle
        </h6>
      </a>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
      <!-- Excerpt -->
      <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident.
      </p>
      <!-- Post data -->
      <p>
        by <a><strong>Carine Fox</strong></a
        >, 14/08/2018
      </p>
      <!-- Read more button -->
      <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-5">
      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img
          class="img-fluid"
          src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg"
          alt="Sample image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <hr class="my-5" />

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-5">
      <!-- Featured image -->
      <div
        class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light"
        mdbWavesEffect
      >
        <img
          class="img-fluid"
          src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg"
          alt="Sample image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">
      <!-- Category -->
      <a href="#!" class="indigo-text">
        <h6 class="font-weight-bold mb-3">
          <i class="fas fa-suitcase pr-2"></i>Travels
        </h6>
      </a>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
      <!-- Excerpt -->
      <p>
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
        fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
        sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet.
      </p>
      <!-- Post data -->
      <p>
        by <a><strong>Carine Fox</strong></a
        >, 11/08/2018
      </p>
      <!-- Read more button -->
      <a mdbBtn color="indigo" mdbWavesEffect>Read more</a>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</section>
<!-- Section: Blog v.1 -->
