<!-- <mdb-card cascade="true" narrower="true" class="">
  <div class="" mdbWavesEffect>
    <mdb-card-img
      src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
      alt="sample photo"
    ></mdb-card-img>
    <a>
      <div class="mask waves-effect waves-light"></div>
    </a>
  </div>

  <mdb-card-body cascade="true" class="text-center no-padding">
    <mdb-card-title>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Leather boots</a>
        </strong>
      </h4>
    </mdb-card-title>

    <mdb-card-text
      >Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci.
    </mdb-card-text>
  </mdb-card-body>
</mdb-card> -->
<mdb-card class="collection-card z-depth-1-half">
  <!--Card image-->
  <div class="view zoom waves-light" mdbWavesEffect>
    <mdb-card-img
      src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg"
      alt=""
    ></mdb-card-img>
  </div>
  <!--Card image-->
</mdb-card>
